{% extends "base2.html" %}
{% load static %}

{% block title %}member page{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-3 mt-3 mt-3 sm-0">
            <div class="col-12 align-self-center">
                <h3 style="text-align:center;padding-top:10px">
                    Demander une réservation
                </h3>
            </div>
            <HR>
                <div class="row">
                    <div class="col-12 mt-3">
                        <p>veuillez spécifier l’intervale de jour que vous souhaitez</p>
                    </div>     
                </div>
        </div>
        <div class="row g-3 align-items-center mt-5 mb-5">
            <div class="col-auto">
              <label for="inputDateD" class="col-form-label">date de  début:</label>
            </div>
            <div class="col-auto">
              <input type="date" id="inputDateD" class="form-control" aria-describedby="">
            </div>
       </div>
       <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="inputDateF" class="col-form-label">date de  fin:</label>
            </div>
            <div class="col-auto">
                <input type="date" id="inputDateF" class="form-control" aria-describedby="">
            </div>
        </div>
        <div class="row g-3 align-items-center mt-5 mb-5">
            <div class="col-auto">
                <button type="submit" class="btn" style="background-color:#075C67; color: #FFFFFF;">Envoyer la demande</button>
            </div>
        </div>
   </div>

{% endblock content %}
