<div class="container">
    <div class="row">
        <div class="col-12">
            <span class=""><strong>Tarif journalier:</strong></span>
            <span class="" style="color:#16139D"> <strong> {{ room.daily_rate }}XAF </strong> </span>
        </div>
        <div class="col-12 mt-2">
            <p> <strong>Tarif journalier:</strong> {{ room.owner.first_name }} </p>
        </div>
        <!--on verifie si la salle contient des reservation-->
        {% if room.reservations.all %}
            <p class="m-0"> Salle prise pour les dates suivantes: </p>
            <!--on parcour toutes les reservation de la salle-->
            {% for row in room.reservations.all  %}
                <div class="col-12">
                    <span class="text-primary" style="color:#16139D"> {{ row.begin_date|date:"j F Y" }} - {{ row.end_date|date:"j F Y" }}  </span>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-success"> cette salle n'a pas encore été reservé </p>
        {% endif %}
        <div class="col-12 mt-3">
            <p><strong>Localisation de la salle :{{ room.city }} - {{ room.neighborhood }}</strong> </p>
        </div>
        <p> <strong>Quelques images de la salle:</strong> </p>
        {% for image in room.pictures.all|slice:":3" %}<!--on affiche maxi 3 images-->
            <div class="col-12">
                <img src="{{ image.file.url }}" alt="image d'une salle" class="img-fluid" style="">
            </div>
        {% endfor %}
    </div>
</div>
