<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% block style %}{% endblock style %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body style="">
    <div>
        {% include "navbar1.html" %} <!--on inclu la barre de navigation qui va s'afficher sur ecran tablette et plus uniquement-->
        {% include "navbar2.html" %} <!--on inclu la barre de navigation qui va s'afficher sur ecran mobile uniquement-->
        {% block content %}{% endblock content %}
        {% include "nav_mobile.html" %}<!--on inclu la barre de navigation fixe qui va s'afficher en bas sur ecran mobile uniquement-->
        {% include "footer.html" %}<!--on inclu le pied de page qui sera sur toute les pages qui herite de ce template-->
    
    </div>
</body>
</html>