<!--le composant de reservation-->
<div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 ">
    <div class="card shadow-sm" style="max-width: 100%; height: 100%;">
        <div class="card-body">
            <p class="text-capitalize">évènement: <strong>{{ reservation.room.typ }}</strong></p>
            <p class="text-capitalize">salle: <strong> {{ reservation.room.city }} - {{ reservation.room.neighborhood }} </strong> </p>
            <p class="text-capitalize">envoyé le: <strong>{{ reservation.reservation_date|date:"j F Y" }}</strong></p>
            <p class="text-capitalize">par: <strong>{{ reservation.client.first_name }}</strong></p>
            <p class="text-capitalize">a: <strong>{{ reservation.room.owner }}</strong></p>
            <p>Reservé pour le:
                {% if reservation.begin_date == reservation.end_date %} 
                     <strong>{{ reservation.begin_date|date:"j F Y" }}</strong>
                {% else %}
                    <strong>{{ reservation.begin_date|date:"j F Y" }}</strong> au <strong>{{ reservation.end_date|date:"j F Y" }}</strong>
                {% endif %} 
            </p>
            <p class="text-capitalize">statut:
                <!--si la reservation est en attente-->
                {% if reservation.pending%}
                    <strong class="text-capitalize text-primary"> en attente </strong>
                    {% if user.account_type == 'owner' %}
                        <p>
                            {% include "modal_disponibility_room.html" %}
                        </p>
                        {% include "modal_confirm_or_no.html" with text='confirmer' %} {% include "modal_confirm_or_no.html" with text='annuler' %}
                    {% endif %}
                <!--sinon-->
                {% else %}
                    <!--si la reservation est confirmée-->
                    {% if reservation.confirm_or_no %}<!--s'il a confirmé la reservation-->
                            <strong class="text-capitalize text-success"> Confirmé </strong>
                            {% if user.account_type == 'client' %} <p><a href="" class="btn btn-sm btn-dark">contacter le propriétaire<i class="bi bi-whatsapp ms-2"></i></a></p> {% endif %}
                            {% if user.account_type == 'owner' %}
                                <p>
                                    {% include "modal_disponibility_room.html" %}
                                </p>
                                {% include "modal_confirm_or_no.html" with text='annuler' %}
                                
                            {% endif %}
                    <!--sinon-->
                    {% else %}
                            <strong class="text-capitalize text-danger"> Annulé</strong>
                            {% if user.account_type == 'owner' %}
                                <p>
                                    {% include "modal_disponibility_room.html" %}
                                </p>
                                {% include "modal_confirm_or_no.html" with text='confirmer' %}
                            {% endif %}
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
</div>